<div class="row backgroung">
  <div class="col-12 text-center header">
    It Do Nothing
  </div>
  <div class="col-12 top-40 text-center">
    <!-- <div class="text">Click start button to waste your time.</div> -->
      <button (click)="click()" class="text-center btn btn-default start-btn">Click here</button>
      <div *ngIf="message" class="text">{{message}}</div>
  </div>
</div>


<!-- <div class="row backgroung">
      <button (click)="click()" class="text-center btn btn-default start-btn">It do nothing</button>
</div> -->