.start-btn{
    /* border-radius: 50%; */
    /* border: 7px solid #026fe48a; */
    display: inline;
    /* padding: 20px; */
    margin: 4px 2px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    vertical-align: middle;
    color: #ff2800 !important;    
}
.top-40{
    top: 40px;
}
.text{
    color: #696969;
    font-size: 18px;
}

.stat-btn:active{
    background-color: #0f62bb;
}
.start-btn:focus{
    outline: none;
    box-shadow: none;
}

.backgroung{
    height: 100vh;
    /* background-image: linear-gradient(to bottom, #cc9a06 , #fd3145); */
    background-color: #ffe5b4;
    position: fixed;
}

.header{
    top: 10%;
    font-size: 40px;
    font-style: italic;
    font-family: serif;
    text-shadow: cyan;
    text-shadow: 2px 2px #808080;
    font-weight: bold;
}